:root {
  --font-inter: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
  background: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


