:root {
  /* Fallback caso o consumidor não defina a fonte */
  --font-primary: 'Inter', sans-serif;
}

.ant-segmented-item-selected {
  font-weight: 700 !important;
}

/* Mover asterisco obrigatório para a direita do label */
.ant-form-item-label>label.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-label>label.ant-form-item-required::after {
  content: '*';
  color: #D2190B !important;
  visibility: visible !important;
}

.juscash-upload-horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;

}

.juscash-upload-horizontal .ant-upload-list-item {
  margin-top: 0 !important;
}

.ant-upload-list {
  width: 100% !important;
}

.ant-upload-icon {
  display: flex !important;
}

.juscash-upload-horizontal.juscash-upload-has-files .ant-upload {
  width: 50%;
  min-width: fit-content;
  max-width: 50%;
  flex: 0 0 50%;
}

.juscash-upload-button {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.juscash-upload-button:hover {
  background-color: #f0f0f0 !important;
  background-color: transparent !important;

  color: inherit !important;
  border-color: #d4d4d4 !important;


  box-shadow: 0px 0px 0px 3px #d4d4d4 !important;
}


.ant-btn-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-upload {
  width: 100% !important;
}

.ds-input-outline {
  outline: 1px solid #D4D4D4 !important;
  transition: outline 0.2s ease;
}


.ds-input-outline.ant-input-status-error,
.ds-input-outline.ant-input-textarea-status-error,
.ds-input-outline.ant-select-status-error {
  outline: 1px solid #D2190B !important;
}

.upload-error-state {
  border-color: #D2190B !important;
  outline: 1px solid #D2190B !important;
}


.upload-error-state:focus {
  border-color: #D2190B !important;
  outline: 1px solid #D2190B !important;
  box-shadow: 0 0 0 3px rgba(210, 25, 11, 0.4) !important;
}

.upload-error-state:hover {
  border-color: #D2190B !important;
  outline: 1px solid #D2190B !important;
  box-shadow: 0 0 0 3px rgba(210, 25, 11, 0.4) !important;
}

.ant-select-item-option-content {
  display: flex !important;
  align-items: center !important;

}

.ds-select-search-container {
  padding: 8px;
  border-bottom: 1px solid rgba(212, 212, 212, 1);
  margin-bottom: 4px;
}

.ds-select-search-input {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.ds-select-search-input:focus {
  outline: none !important;
}

.ant-select-dropdown {
  padding: 0 !important;
}

.ant-select-single .ant-select-item-option-selected .ant-select-item-option-state {
  display: flex !important;
}

.ant-select-item-option-content {
  flex: auto;
}

.ds-input-outline .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}

.ds-input-outline:not(.ant-select-disabled):not(.ant-select-status-error):hover,
.ds-input-outline.ant-select-focused:not(.ant-select-status-error) {
  box-shadow: 0px 0px 0px 3px #d4d4d4 !important;
  border-color: transparent !important;
}

.ds-input-outline.ant-select-status-error:hover,
.ds-input-outline.ant-select-status-error.ant-select-focused {
  box-shadow: 0px 0px 0px 3px rgba(210, 25, 11, 0.4) !important;
  border-color: transparent !important;
}

.ds-input-outline {
  transition: all 0.2s ease-in-out !important;
}


.ant-table-cell {
  border: none !important;
}

.ant-table-container {
  border: 1px solid #D4D4D4 !important;
}

.ant-table-container {
  border-radius: 8px !important;
}

.ant-table-tbody>.ant-table-row>td {
  border-top: 1px solid #D4D4D4 !important;
}

.ant-pagination-total-text {
  margin-right: auto !important;
  display: flex !important;
  align-items: center !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  display: flex !important;
  align-items: center !important;
}

.ant-pagination {
  align-items: center !important;
}