:root {
  /* Fallback caso o consumidor não defina a fonte */
  --font-primary: 'Inter', sans-serif;
}

.ant-segmented-item-selected {
  font-weight: 700 !important;
}

/* Mover asterisco obrigatório para a direita do label */
.ant-form-item-label>label.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-label>label.ant-form-item-required::after {
  content: '*';
  color: #D2190B !important;
  visibility: visible !important;
}

.juscash-upload-horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;

}

.juscash-upload-horizontal .ant-upload-list-item {
  margin-top: 0 !important;
}

.ant-upload-list {
  width: 100% !important;
}

.ant-upload-icon {
  display: flex !important;
}

.juscash-upload-horizontal.juscash-upload-has-files .ant-upload {
  width: 50%;
  min-width: fit-content;
  max-width: 50%;
  flex: 0 0 50%;
}

.juscash-upload-button {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.juscash-upload-button:hover {
  background-color: #f0f0f0 !important;
  background-color: transparent !important;

  color: inherit !important;
  border-color: #d4d4d4 !important;


  box-shadow: 0px 0px 0px 3px #d4d4d4 !important;
}


.ant-btn-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-upload {
  width: 100% !important;
}